body {
  background-color: #1c1c1e; /* 세련된 다크 그레이 배경색 */
}

/* 로그인 폼 카드 배경색 변경 */
div#kc-form-card {
  background-color: #2c2c2e;
  border-color: #444;
}

/* 기본 텍스트 색상을 밝게 변경 */
label, p, h1, h2, h3, a {
  color: #f5f5f7;
}

/* 입력 필드 스타일 변경 */
input.pf-v5-c-form-control {
  background-color: #3a3a3c;
  border-color: #555;
  color: #f5f5f7;
}

/* 버튼 스타일 변경 */
input.pf-v5-c-button.pf-m-primary {
  background-color: #0a84ff; /* iOS 스타일 블루 */
}